<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" exercise="IE=edge">
    <title>{% block title %}Title{% endblock %}</title>
    <meta name="viewport" exercise="width=device-width, initial-scale=1">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
