{% extends "layout.html" %}
{% block title %}Stuart's Statistics Course {% endblock %}
{% block body %}
<h1>Stuart's Statistics Course</h1>

{% for view, args in pages %}
<br><a href="{{ url_for(view, **args) }}">{{ args['page'] }}</a>
{% endfor %}
{% endblock %}
