<!DOCTYPE html>
<html>
<head>
<style>
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
</style>
</head>
<body>
{% extends "layout.html" %}
{% block title %}Stuart's Statistics Course {% endblock %}
{% block body %}

<h1>Stuart's Statistics Course</h1>

<div id="toc_container">
<p class="toc_title">Reading List Contents</p>
<ul class="toc_reading_list">
    {% for view, args in pages_r %}    
        <li>
            <a href="{{ url_for(view, **args) }}">{{ args['page'] }}</a>
        </li>
    {% endfor %}
</ul>
</div>

<div id="toc_container">
<p class="toc_title">Exercise List Contents</p>
<ul class="toc_exercise_list">
    {% for view, args in pages_e %}    
    <li>
        <a href="{{ url_for(view, **args) }}">{{ args['page'] }}</a>
    </li>
{% endfor %}
</ul>

</div>

<script>

function sortListAscending (ulClass) { // include the dot in argument; e.g. .toc_list
    var uls_li = document.querySelectorAll('ul' + ulClass + ' > li');

    [].slice.call(uls_li).sort(function(a, b) {
        var textA = a.textContent.toLowerCase()
        var textB = b.textContent.toLowerCase()
        return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
    })
    .forEach(function(el) {el.parentNode.appendChild(el)});
}

sortListAscending(".toc_reading_list");
sortListAscending(".toc_exercise_list");

</script>
{% endblock %}
</body>
