{% extends "layout.html" %}
{% block title %}Stuart's Statistics Course {% endblock %}
{% block body %}
<h1>Stuart's Statistics Course</h1>

<ul>
{% for view, args in pages %}
    <li>
        <a href="{{ url_for(view, **args) }}">{{ args['page'] }}</a>
    </li>
{% endfor %}
</ul>
<script>
function SortList(elementId) {
    var mylist = $("#" + elementId);
    $(mylist).children("li").sort(function (item1, item2) {
        var compFirst = $(item1).text().toUpperCase();
        var compSecond = $(item2).text().toUpperCase();
        if (!((compFirst != "") || (compSecond == "DEFAULT"))) {
            return (compFirst < compSecond) ? -1 : (compFirst > compSecond) ? 1 : 0;
        }
    }).appendTo(mylist);
}
</script>
{% endblock %}
